<h2>Lista de Categorias</h2>
<a class="btn btn-primary" [routerLink]="['/categoria/new']" >Nova Categoria</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of categorias">
            <td>{{categoria.id}}</td>
            <td>{{categoria.nome}}</td>
            <td>
                <a [routerLink]="['/categoria', categoria.id]" class="btn btn-primary">Editar</a> &nbsp;
                <a (click)="delete(categoria.id)" class="btn btn-danger">Remover</a>
            </td>
        </tr>
    </tbody>
</table>