<h1 class="mt-5">Cadastro de Categorias</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" 
                    class="form-control" [(ngModel)]="categoria.nome">
            </div>
        </div>
    </div>
    <!--Fim class row-->
    <div class="row">
        <button type="button" class="btn btn-default" 
                (click)="cancel()">Cancelar</button>
        <button type="button" class="btn btn-success" 
                (click)="save()">Salvar</button>
    </div>
</div>