<h1 class="mt-5">Cadastro de Produtos</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="produto.nome">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="valor">Valor</label>
                <input type="text" id="valor" name="valor" class="form-control" [(ngModel)]="produto.valor">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea id="descricao" name="descricao" class="form-control" [(ngModel)]="produto.descricao"></textarea>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select  [(ngModel)]="produto.categoria" class="form-control">
                    <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nome}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="marca">Marca</label>
                <select  [(ngModel)]="produto.marca" class="form-control">
                    <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.nome}}</option>
                </select>
            </div>
        </div>
    </div>
    <!--Fim class row-->
    <div class="row">
        <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="save()">Salvar</button>
    </div>    
</div>